// Predifined media query sizes
$break-small: 320px;
$break-mobile: 576px;
$break-medium: 768px;
$break-large: 1200px;

html, body, #root {
  height: 100%;
}

html {
  font-size: 14px;
}
@media (min-width: $break-medium) {
  html {
    font-size: 16px;
  }
}

.admin-panel {
  height: 100vh;
  display: flex;
  flex-direction: row;

  .sidebar {
    background-color: #234361;
    padding: 10px;

    .sidebar-header {
      background-color: white;
      padding: 5px;
      border-radius: 5px;

      .logo {
        width: 130px;
      }
    }

    .side-menu {
      p {
        color: gainsboro;
        margin: 1rem 0;
        border-bottom: 1px solid #526580;
      }

      .nav-item {
        > a.nav-link {
          color: white;
        }

        &.selected {
          > a.nav-link {
            color: cyan;
          }
        }
      }
    }
  }

  .section-cotainer {
    display: flex;
    flex: 1;
    flex-direction: column;

    section {
      &.content {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 20px 12px 0;
        overflow-y: auto;
      }
    }
  
    .section-bar {
      padding: 6px;
      display: flex;
      flex-direction: row;
      z-index: 100;
      border-bottom: 1px solid lightgrey;
      box-shadow: 0px 3px 5px rgba(0,0,0,.1);

      .info {
        display: flex;
        flex: 1;
        align-items: center;
        font-size: 1.5em;

        .sections {
          line-height: 100%;
        }
      }

      h2 {
        margin: 0;
        color: #4c4c4c;
      }
    }
  }

  .profile-button {
    border: 1px solid lightgray;
    padding: 5px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#7b7b7b;
    cursor: pointer;
  }
}

.front {
  display: flex;
  flex-direction: column;
  height: 100%;

  header {
    nav {
      background-color: #adf28e;

      .nav-item {
        border-bottom: 2px solid transparent;
        &.active {
          border-bottom-color: #f2f2f2;
        }
      }
    }

    a.navbar-brand {
      white-space: normal;
      text-align: center;
      word-break: break-all;
    }
  }

  > .container, > .content-container {
    flex: 1;
    margin-bottom: 10rem;
  }

  > .content-container {
    background: url(/assets/Greenmind-MainBG_fade-min.png) no-repeat;

    > .container {
      > .content {
        background-color: rgba(244, 244, 244, 0.95);
        flex: 1;
        height: 100%;
        padding: 1em;
        border-radius: .5em;
        box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.23);
      }
    }
  }

  > .container, > .content-container > .container {
    height: 100%;
    display: flex;
    margin-top: 2rem;
  }

  footer {
    background-color: #f4f4f4;
    box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.23);
    border-top: 1px solid #dee2e6 !important;

    .copyright {
      color: grey;

      p {
        margin: 0;
      }
    }
  }

  .box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
  }

  .content {
    font-size: 1.3em;

    h2 {
      margin-bottom: 1.5rem;
    }
  }

  .account {
    flex-direction: row;
    display: flex;

    @media (max-width: $break-mobile) {
      flex-direction: column;

      > .navbar {
        border: none !important;

        .nav {
          flex: 1;
        }
      }
    }

    > .navbar {
      align-items: flex-start;
      border-right: 1px solid #fafafa;
    }

    > .container {
      padding-top: .5em;
    }
  }

  .http-status {
    padding: 2em 0;
    font-size: 2em;

    .code {
      color: silver;
      margin-right: 20px;
    }

    .text {
      color: grey;
    }

  }
}

.action-form {
  &.collapsed {
    .card-title {
      margin-bottom: 0;
    }
  }

  // .collapse {
  //   padding-top: 1em;
  // }

  .card-title {
    margin-bottom: 0;
    line-height: 1em;

    &.toggle {
      cursor: pointer;
    }
  }
}

.datatable-actions {
  overflow: visible !important;

  button:not(:last-child) {
    margin-right: 6px;
  }

  &.disabled {
    opacity: .5;
    pointer-events: none;
  }
}

.button-group {
  &.horizontal {

    button:not(:last-child) {
      margin-right: 6px;
    }
  }

  &.fluid {
    flex: 1;
  }
}

.options-list {
  button {
    display: flex;
    line-height: 100%;
    align-items: center;

    svg {
      margin-right: 1em;
      color: #e8f1f9 !important;
    }

    &.selected {
      background-color: #f1fff1;
      svg {
        color: #81d779 !important;
      }
    }
  }
}

.options-list-textarea {
  padding: 0.75rem 1rem;

  textarea {
    border: 0 !important;
    padding: 0.375rem 0.375rem;
  }
}

.display-group {
  list-style: none;

  .list-group-item {
    h4.header {
      margin-bottom: 0;
      display: flex;
      justify-content: space-between;
    }
  }

  ul.subs {
    list-style: none;
    margin: 0;
    padding: 0;

    &.other {
      margin-top: .5rem;
    }

    > li {
      font-weight: bold;
    }

    .other-text {
      font-weight: normal;
    }
  }

  ul.options {
    list-style: none;
    padding-left: 1em;
    margin: .5rem 0;

    li {
      font-weight: normal;
    }
  }

  li.option {
    &.unselected {
      color: #aab3bb !important;
      svg {
        color: #e8f1f9 !important;
      }
    }
    
    &.selected {
      svg {
        color: #81d779 !important;
      }
    }
  }
}

.cookie-consent {
  position: absolute;
  bottom: 0px;
  margin: 0;
  background-color: #ffeebab3;
}


.Toastify__toast--warning {
  .Toastify__toast-body {
    color: #535353;
  }
}
