.page-break {
  page-break-after: always;
}

.reset-lvl-counters {
  counter-reset: lvl1-item;
}

.reset-lv2-counters {
  counter-reset: lvl2-item;
}

.reset-lv3-counters {
  counter-reset: lvl3-item;
}

.header {
  background-color: red;
}

:not(pre):not(.hljs) > code {
  color: #d61b99;
  font-size: inherit;
  background-color: #f7f4f6;
  padding: .1em .2em;
  border-radius: .2em;
}

.emoji {
  vertical-align: sub;
}

/* ol > li > ol {
  list-style-type: lower-alpha;
  padding-left: 1em;
} */

/* ol { counter-reset: item }
li{ display: block }
li:before {
  content: counters(item, ".") " ";
  counter-increment: item
} */

.toc {
  font-size: 16pt;
}

.toc ol {
  list-style-type: none;
  counter-reset: toc-item;
  margin: 0;
  padding: 0;
}

.toc ol > li {
  counter-increment: toc-item;
  display: table;
  margin-bottom: 0.2em;
}

.toc ol > li:before {
  content: counters(toc-item, ".") ". ";
  display: table-cell;
  padding-right: 0.6em;
  color: grey;  
}

.toc li ol > li {
  margin: 0;
  margin-top: 0.4em;
  font-size: .9em;
}

.toc li ol > li:before {
  /* content: counters(toc-item, ".") ". "; */
  content: counters(toc-item, ".");
}

li > ol {
  padding-left: 1rem;
}

.intro h2:before, .toc h2:before,
.intro h3:before, .toc h3:before {
  content: '';
}

h2 {
  counter-increment: lvl1-item;
  counter-reset: lvl2-item;
}

h2:before {
  content: counter(lvl1-item) ". ";
}

h3 {
  counter-increment: lvl2-item;
  counter-reset: lvl3-item;
}

h3:before {
  content: counter(lvl1-item) "." counter(lvl2-item) " ";
}

h4 {
  font-weight: normal;
  counter-increment: lvl3-item;
}

h4:before {
  content: counter(lvl1-item) "." counter(lvl2-item) "." counter(lvl3-item) " ";
}

h2, h3, h4 {
  font-weight: bold;
}

h2:before, h3:before, h4:before {
  color: grey;
}



/* ol { counter-reset: item }
ol li { display: block }
ol li:before { content: counters(item, ".") " "; counter-increment: item } */
/* div ol {
  counter-reset: item;
} */

.intro {
  margin-top: 6cm;
  margin-bottom: 6cm;
  text-align: center;
}

.banner {
  text-align: left;
  display: inline-block;
  /* margin: 5cm 0; */
}

.banner .contact {
  font-family: 'Segoe UI Emoji';
}

.banner h3 {
  font-weight: bold;
}

.banner h3.project {
  font-size: 2.2rem;
}

.banner h3.project:before {
  content: 'Project: ';
}

.banner h3:before {
  font-weight: normal;
}

.banner h3.author {
  font-weight: normal;
}

.banner h3.author:before {
  content: 'Author: ';
}

.intro h2 {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 4rem;
}

.intro h3 {
  font-size: 2em;
}

.alert {
  padding: .5rem;
  border-width: 1px;
  border-radius: .4em;
  border-style: solid;
  margin: 1em 0;
}

.alert:before {
  font-weight: bold;
}

.alert blockquote {
  margin: 0;
  border: none;
  background: none;
  padding: 0;
}

.alert p {
  margin: .5em .3em .1em;
}

.alert:before {
  /* font-family: 'Segoe UI Emoji'; */
  padding-left: 28px;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 22px;
  padding-bottom: 2px;
  padding-top: 2px;
}

.warning {
  background-color: #ffffd5;
  border-color: #f6efae;
}

.warning p {
  color: #856404;
}

.warning:before {
  content: 'Warning';
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEgAAABICAMAAABiM0N1AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAABFUExURUdwTAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAP/JOvjDOCsgA+q4NHNZFBQNAY5vHNOlLqOAIraPJ048Cmy7M4cAAAALdFJOUwCJw+n2bUwqEKbYG+aOfwAAAZZJREFUWMPt1suygjAQBFBBIZCHqIj//6mSgGUyTF6TLFzYi1t3Q9epuOg5nf75qfR9paK2rQQSog6JC8ErgeqQuC6qQOqESVcHVIG0g4pJw3ntuN3WP+ehHDRNxaQNJGUxaQNJWUr6gIpJzfr5fdJFSpMaMuiyfv2QJo/138tQAlJbkbrTSTaoiGSDSkjMAe0kRigaHdBOGomgp7TypJE06KrsInWlkJiAoI0kGAUkQQgkA1pg0ZJPskH6ayrJAVlF2aTWfiGryJAyBrx3XsguWvLWUoNeEiuSrxySAc140ZxDckFuUQ4JgEBRBom7IFBkSJwCgkXJJAiCRamkDoIORXPaWvLPJnqLzFryJNAULkoZ8O9IB4pSBhwBIUVxEgZCiuIkDIQVxUgoCE2EpEdaqJSi8JkzgJEOJXhTNGCkg6TATeEDIY8dJvlAeJGfxHwvhBf5z5zR90KeIt+ZczxjYvGcOcczJvrDoQOOnTEppMOAo2dMLAgJP2NiQW4KEgghMVEQBkaanBZsIj19HVDW5fVPlbwBpi1cSwJIdu0AAAAASUVORK5CYII=);
  color: #c0af19;
}

.success {
  background-color: #cff3d0;
  border-color: #b4e8b4;
}

.success p {
  color: #0f8504;
}

.success:before {
  content: 'Success';
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEgAAABIBAMAAACnw650AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAPUExURUdwTA7HBAAAAP///5LljQXWvHMAAAABdFJOUwBA5thmAAAAuUlEQVRIx+3W2w3DIAyF4axQyRN0BVgAef+dGtRc4Bxs56nlAV759BMlTpRtm3K9g/Uf9HLWQj9DUh4gzTGSlEqINKUcoT0Uoz0UHneFPHSFHHSHHHSHbNSEbNSETNSGTNSGLNSFLNSFAB3zAyFAx/xAqEfn/ECoR+f8QIhQ3cQQHVd3MYQXXrcphLeg7lMIb2YFFEIkX1T8N1gHIUIyCPEDVg4xEg4NRkXzg0+PlPX1XchD8/2rTLc+giXAUaFqbU0AAAAASUVORK5CYII=);
  color: #19c064;
}

.info {
  background-color: #d5f0ff;
  border-color: #aedcf6;
}

.info p {
  color: #046b85;
}

.info:before {
  content: 'Information';
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEgAAABIBAMAAACnw650AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAASUExURUdwTAB52AAAAP///0af46LO8RcqQ1YAAAABdFJOUwBA5thmAAAAUUlEQVRIx2NgGJRAiQAYGEWCeMCooiGkyDWEsCIRY2NHgopEjY0DqaNI0NiYCIeLOA66wBRxcaFSYI4qGlU0OBUJhoaOFqyjinApGnxtlUEHAPqntBxNHUSOAAAAAElFTkSuQmCC);
  color: #19a7c0;
}

.danger {
  background-color: #ffd5d5;
  border-color: #f6aeae;
}

.danger p {
  color: #850404;
}

.danger:before {
  content: 'Danger';
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEgAAABIBAMAAACnw650AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAPUExURUdwTAAAAAAAAPA3EHkWA1uXlV0AAAACdFJOUwBzv5/tvgAAAORJREFUSMflltsRwiAQRUkHSgdh7AArUPuvSeJjspdlyflWPs9wTzI8dknpL8YZoKWcjlEuazpCSyl9zqPcyJrmqKUeXc6jXC71pjmHWuper5LzaEtVzTn0SlXJefROSc6jL9lzH5Gd5JGPeTYQeTgS9XQo6vFYpDwQqSoSiSoSiSoUiSoSWVUsMqpYZFQT0a6aiFQViUQViawqFhlVLGKT0OfIj6MlIIuJtoVsMDoq5NCh40suArpS5HKia04KBio9pIihcogKKyrRqNijtsEaEGplrCmi9soaNWr57PGAniG/OZ4ERqiLXQemNwAAAABJRU5ErkJggg==);
  color: #c01919;
}

.uml-diagram {
  text-align: center;
  margin-top: 2cm;
}
