@using ViewModels
@using ViewModels.Account
@model ResetPasswordViewModel

@{
  Layout = "_LayoutHtml";
  ViewContext.ViewData["EmailTitle"] = "Password Reset";
}

<h3>You have requested to reset your account password</h3>

<p>Click the button bellow to open the password reset link</p>

@await Html.PartialAsync("_Button", new ButtonViewModel("Reset Password", Model.ResetPasswordUrl))

<!-- p>If you can't open the above link, copy and paste to your browser the following URL link</p>

<pre>@Model.ResetPasswordUrl</pre -->
